<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
       <div class="row">
         <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
           <h5 class="text-uppercase">Footer</h5>
   
           <p>
             En esta pagina se puede observar algunos de los personajes de la historia.
           </p>
         </div>
         <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
           <h5 class="text-uppercase">Contact Us</h5>
   
           <ul class="list-unstyled mb-0">
             <li>
               <img class="icon-facebook" src="../../../assets/icons/facebook2.png" alt="facebook">
               <a href="#!" class="text-dark"> Facebook</a>
             </li>
             <br>
             <li>
               <img class="icon-instagram" src="../../../assets/icons/instagram2.png" alt="instagram">
               <a href="#!" class="text-dark"> Instagram</a>
             </li>
           </ul>
         </div>
         <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
           <h5 class="text-uppercase mb-0">Links</h5>
   
           <ul class="list-unstyled">
             <li>
               <a class="text-dark" routerLink="CharactersOfHistory">Characters</a>
             </li>
             <li>
               <a class="text-dark" routerLink="contact-us">About us</a>
             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
       © 2021 Copyright:
       <a class="text-dark" href="#">Cristian Rincon</a>
     </div>
   </footer>
   <!-- Footer -->