.history-img {
    width: 250px;
}

.form-border{
    border-radius: 20px;
    margin-left: 20%;
    width: 45%;
}

@media screen and (max-width: 500px) {
    .history-img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        opacity: 0.2;
    }
}